<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">

  <xacro:include filename="$(find franka_description)/robots/common/franka_robot.xacro"/>

  <xacro:arg name="arm_id" default="panda" />

  <xacro:franka_robot arm_id="$(arg arm_id)"
                      joint_limits="${xacro.load_yaml('$(find franka_description)/robots/panda/joint_limits.yaml')}">
  </xacro:franka_robot>


  <!-- ZED Camera-->
  <xacro:arg name="zed_model" default="zed2"/> <!-- zed, zed2, zed2i, zedm -->
  <xacro:arg name="zed_name" default="zed2"/> <!-- zed, zed2, zed2i, zedm -->

	<xacro:property name="zed_model" value="$(arg zed_model)" />
	<xacro:property name="zed_name" value="$(arg zed_name)" />

  <xacro:include filename="$(find zed_wrapper)/urdf/zed_macro.urdf.xacro" />
  
  <!-- ZED Camera position relative to Panda robot-->
  <xacro:arg name="zed_pos_x"     default="-0.087397" /> 
  <xacro:arg name="zed_pos_y"     default="0.0523762" />   
  <xacro:arg name="zed_pos_z"     default="0.0374111" />
  <xacro:arg name="zed_roll"      default="0.000374354" />
  <xacro:arg name="zed_pitch"     default="0.746327" />
  <xacro:arg name="zed_yaw"       default="-1.57774" />
  <xacro:zed_camera name="$(arg zed_name)" model="$(arg zed_model)" parent="panda_hand">
    <origin xyz="$(arg zed_pos_x) $(arg zed_pos_y) $(arg zed_pos_z)" rpy="$(arg zed_roll) $(arg zed_pitch) $(arg zed_yaw)" />
  </xacro:zed_camera>

</robot>